body{
  color: white;
  background: url(gl.jpg);
}
a:link, a:visited, a:active { color: #00f; }
.pryam {
            width: 200px; /* Ширина прямоугольника */
            height: 100px; /* Высота прямоугольника */
            background-color: #3498db; /* Цвет фона */
            border-radius: 15px; /* Скругление углов */
            display: flex; /* Для центрирования текста */
            align-items: center; /* Вертикальное центрирование */
            justify-content: center; /* Горизонтальное центрирование */
            color: white; /* Цвет текста */
            font-size: 20px; /* Размер текста */
        }
h1.1{ font-family:Helvetica;
  }
h2.1{font-family:Helvetica;
  }

