
body{
  color: white;
  background:#202020;
}
a:link, a:visited, a:active { color: #00f; }
.pryam {
            width: 800px; /* Ширина прямоугольника */
            height: 100px; /* Высота прямоугольника */
            background-color:#6A5ACD; /* Цвет фона */
            border-radius: 15px; /* Скругление углов */
            display: flex; /* Для центрирования текста */
            align-items: center; /* Вертикальное центрирование */
            justify-content: center; /* Горизонтальное центрирование */
            color: white; /* Цвет текста */
            font-size: 36px; /* Размер текста */
            margin:50px 200px 50px 500px ;
        }
.pryam2 {
            width: 800px; /* Ширина прямоугольника */
            height: 130px; /* Высота прямоугольника */
            background-color:#6A5ACD; /* Цвет фона */
            border-radius: 15px; /* Скругление углов */
            display: flex; /* Для центрирования текста */
            align-items: center; /* Вертикальное центрирование */
            justify-content: center; /* Горизонтальное центрирование */
            color: white; /* Цвет текста */
            font-size: 36px; /* Размер текста */
            margin:100px 1000px 100px 50px ;
            padding: 20px 20px 20px 20px
        }
.pryam3 {
            width: 300px; /* Ширина прямоугольника */
            height: 50px; /* Высота прямоугольника */
            background-color:#E6E6FA; /* Цвет фона */
            border-radius: 15px; /* Скругление углов */
            display: flex; /* Для центрирования текста */
            align-items: center; /* Вертикальное центрирование */
            justify-content: center; /* Горизонтальное центрирование */
            color: white; /* Цвет текста */
            font-size: 30px; /* Размер текста */
            margin:10px 500px 10px 710px ;
        }
.pryam4 {
            width: 800px; /* Ширина прямоугольника */
            height: 100px; /* Высота прямоугольника */
            background-color:#E6E6FA; /* Цвет фона */
            border-radius: 15px; /* Скругление углов */
            display: flex; /* Для центрирования текста */
            align-items: center; /* Вертикальное центрирование */
            justify-content: center; /* Горизонтальное центрирование */
            color: white; /* Цвет текста */
            font-size: 36px; /* Размер текста */
            margin:50px 200px 50px 590px ;
        }
h1{ font-family:Helvetica;
   style="line-height: 1.5;"
  }
h2{font-family:Helvetica;
   style="line-height: 1.5;"
  }
ul{font-family:Helvetica;
   style="line-height: 1.5;"
  }
li{font-family:Helvetica;
   style="line-height: 1.5;"
  }
ol{font-family:Helvetica;
   style="line-height: 1.5;"
  }
p{font-family:Helvetica;
  style="line-height: 1.5;"
  }
h3{font-family:Helvetica;
   style="line-height: 1.5;"
  }
h4{font-family:Helvetica;
   style="line-height: 1.5;"
  }
table{
  border-spacing: 0
}
table.split  tr{
    width:10%;
    height:50px;
}
table.split{
    font-family:franklin gothic medium;
    font-size: 20px;
}
