.close {
    display: block;
    /* float: right; */
    /* left: 0; */
    right: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    --weight: 3px;
    --aa: 1px;
    --color: white;
    border-radius: 3px;

    background: linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))), linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
}

.banner {
	position: fixed; /* Фиксированное позиционирование */
	right: 0; /* Привязка к правой стороне экрана */
	top: 85%; /* Центрирование по вертикали */
	transform: translateY(-50%); /* Смещение на половину высоты изображения для центрирования */
	z-index: 1000; /* Уровень наложения, чтобы баннер был поверх других элементов */
}
.banner img {
	max-width: 500px; /* Установка максимальной ширины изображения */
	height: auto; /* Автоматическая высота для сохранения пропорций */
}
#banner-check:checked + .banner {
    display: none;
}

/* Чекбокс скрыт, но он необходим для управления состоянием */
input[type="checkbox"] {
    display: none;
}
.close:hover {
    cursor: pointer;
    --color: #ac0e0e;
}
.banner a:hover {
    cursor: default;
}
